# This workflow will install Python dependencies and validate the project
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Nomenclature

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

jobs:
  validation:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v1
      with:
        python-version: 3.9

    - name: Install dependencies
      run: pip install nomenclature-iamc

    - name: Run the nomenclature project validation
      run: nomenclature validate-project . --dimensions "['region', 'scenario', 'variable']"
